<mat-card (click)="navigateToBooking()">
  <mat-card-title>
    <span>Reserved room: {{reservation.roomType}}</span>
  </mat-card-title>
  <mat-card-content>
    <div class="checkin">
      <span>CheckinDate: {{reservation.checkinDate.toDateString()}}</span>
    </div>
    <div class="checkout">
      <span>CheckoutDate: {{reservation.checkoutDate.toDateString()}}</span>
    </div>
    <div class="status">
      <span>Status: {{reservation.status}}</span>
    </div>
  </mat-card-content>
</mat-card>
