<mat-card>
  <mat-card-title>
    <h3>{{user.firstName + " " + user.lastName}}</h3>
  </mat-card-title>
  <mat-card-content>
    <div class="personal-data">
      <span>Email: {{user.email}}</span>
      <span>Phone: {{user.phoneNumber}}</span>
      <span>Role: {{user.userRole}}</span>
    </div>
    <div class="buttons" *ngIf="user.userRole != EUserRole.Administrator">
      <button *ngIf="user.userRole == EUserRole.Guest else showDegradeButton"
              mat-raised-button class="promote-button"
              (click)="promoteToManager()">
        <span>Promote to manager</span>
      </button>
      <ng-template #showDegradeButton>
        <button mat-flat-button  class="degrade-button" (click)="degradeToGuest()">
          <span>Degrade to guest</span>
        </button>
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>
