<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      <mat-list-item
        class="sidenav-button"
        [routerLink]="'./dashboard'"
        routerLinkActive="active-button"
        [routerLinkActiveOptions]="{exact: true}"
      >
        <span>Dashboard</span>
      </mat-list-item>

      <mat-list-item
        class="sidenav-button"
        [routerLink]="'./guests'"
        routerLinkActive="active-button"
        [routerLinkActiveOptions]="{exact: true}"
      >
        <span>Guests</span>
      </mat-list-item>

      <mat-list-item
        class="sidenav-button"
        [routerLink]="'./reservations'"
        routerLinkActive="active-button"
        [routerLinkActiveOptions]="{exact: true}"
      >
        <span>Bookings</span>
      </mat-list-item>

      <mat-list-item
        class="sidenav-button"
        [routerLink]="'./blacklist'"
        routerLinkActive="active-button"
        [routerLinkActiveOptions]="{exact: true}"
      >
        <span>Blacklist</span>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item
        class="sidenav-button"
        [routerLink]=""
        routerLinkActive="active-button"
        [routerLinkActiveOptions]="{exact: true}"
      >
        <span>Setting</span>
      </mat-list-item>

      <mat-list-item
        class="sidenav-button"
        [routerLink]=""
        routerLinkActive="active-button"
        [routerLinkActiveOptions]="{exact: true}"
      >
        <span>Help Center</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
