<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      <mat-list-item
        class="sidenav-button"
        [routerLink]="'./account-details'"
        routerLinkActive="active-button"
        [routerLinkActiveOptions]="{exact: true}"
      >
        <span>Account</span>
      </mat-list-item>

      <mat-list-item
        *ngIf="JSON.parse(sessionStorage.getItem('user')!).userRole == EUserRole.Guest"
        class="sidenav-button"
        [routerLink]="'./reservations'"
        routerLinkActive="active-button"
        [routerLinkActiveOptions]="{exact: true}"
      >
        <span>Reservations</span>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item
        class="sidenav-button"
        [routerLink]=""
        routerLinkActive="active-button"
        [routerLinkActiveOptions]="{exact: true}"
      >
        <span>Setting</span>
      </mat-list-item>

      <mat-list-item
        class="sidenav-button"
        [routerLink]=""
        routerLinkActive="active-button"
        [routerLinkActiveOptions]="{exact: true}"
      >
        <span>Help Center</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
