<mat-card class="calendar-container mat-elevation-z4">
  <mat-card-title>Calendar</mat-card-title>
  <mat-card-content class="calendar-card-content">
    <mat-card class="calendar-card">
      <mat-card-title>
        <div class="header">
          <span class="available">Available</span>
          <span class="booked">Full booked</span>
        </div>
      </mat-card-title>
      <mat-card-content>
        <div class="calendar-component">
          <mat-calendar
            [minDate]="currentDate"
            [(selected)]="selectedDate"
            (selectedChange)="getGuestsByCheckinDate($event)"
            [dateClass]="dateClass"
          >
          </mat-calendar>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="chart-card">
      <mat-card-title>
        <div class="header">
          <h3 class="picked-date">Chosen Day</h3>
          <span class="booked">Full booked</span>
        </div>
      </mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let reservation of reservations">
            <div class="user-data">
              <span class="user-name">{{users.}}</span>
              <span class="trip-duration">{{reservation.checkinDate.toDateString()}}-{{reservation.checkoutDate.toDateString()}}</span>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
