@use "@angular/material" as mat;

app-calendar {
  .calendar-container {
    padding: 1rem;
    height: 100%;
    background-color: var(--mat-sys-surface-bright);
  }

  .calendar-container-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1rem;
  }

  .spacer {
    flex: auto;
  }

  .see-more-button {
    flex: initial;
  }

  .calendar-card-content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 100%;
  }

  .calendar-card, .chart-card {
    background: var(--mat-sys-on-primary);
    flex: 1;
    padding: 1rem;
    height: 100%;
    max-height: 100%;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;

      h3 {
        margin: 0;
      }

    span {
      font-size: var(--mat-sys-label-small-line-height);
    }

    .available {
      color: green;
    }

    .booked {
      color: red;
    }
  }

  .picked-date {
    margin: 0;
  }

  .user-data {
    display: flex;
    justify-content: space-between;
  }

  .calendar-component{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    mat-calendar {
      width: 15vw;
    }
  }

  .booked-date {
    span {
      color: red !important;
    }
  }

  .free-date {
    span {
      color: green !important;
    }
  }

  .guest-content {
    height: 100%;

    .guest-list {
      flex-grow: 1;
      border: 1px solid var(--mat-sys-primary);
      border-radius: var(--mat-sys-corner-medium);
      overflow: auto;
      height: 100%;
      max-height: 17vw;

      mat-list-item {

        .user-data {
          justify-content: center;
          width: 100%;
          color: var(--mat-sys-on-secondary-container);

          div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
          }

          .trip-duration {
            justify-self: right;
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}
