<mat-card class="calendar-container">
  <mat-card-title class="calendar-container-title">
    <div>
      <span>Calendar</span>
    </div>
    <span class="spacer"></span>
    <button mat-flat-button class="see-more-button">
      <span>See more</span>
    </button>
  </mat-card-title>
  <mat-card-content class="calendar-card-content">
    <mat-card class="calendar-card">
      <mat-card-title>
        <div class="header">
          <span class="available">Available</span>
          <span class="booked">Full booked</span>
        </div>
      </mat-card-title>
      <mat-card-content class="calendar-component">
          <mat-calendar
            [minDate]="currentDate"
            [(selected)]="selectedDate"
            (selectedChange)="getGuestsByCheckinDate($event)"
            [dateClass]="dateClass"
          >
          </mat-calendar>
      </mat-card-content>
    </mat-card>

    <mat-card class="chart-card">
      <mat-card-title>
        <div class="header">
          <h3 class="picked-date">{{selectedDate.toDateString()}}</h3>
          <span class="booked">{{reservations.length}} room occupied</span>
        </div>
      </mat-card-title>
      <mat-card-content class="guest-content">
        <mat-list class="guest-list">
          <mat-list-item *ngFor="let reservation of reservations">
            <button mat-stroked-button class="user-data">
              <div>
                <span class="user-name">
                  {{users.get(reservation.guestEmail)?.firstName}}
                  {{users.get(reservation.guestEmail)?.lastName}}
                </span>
                <span class="trip-duration">
                  {{reservation.checkinDate.toDateString()}}
                  -
                  {{reservation.checkoutDate.toDateString()}}
                </span>
              </div>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
