.dashboard-grid {
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}
mat-grid-tile {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
app-overview,
app-calendar,
app-sales-goals,
app-guest-list{
  height: 100%;
  width: 100%;
}
