<mat-card class="user-card">
  <mat-card-title>
    <div class="name">
      <span>{{user.firstName + " " + user.lastName}}</span>
    </div>
  </mat-card-title>
  <mat-card-content>
    <div class="personal-data">
      <div class="phone-number">
        <span>Phone number: {{user.phoneNumber}}</span>
      </div>
      <div class="birthday">
        <span>Birth date: {{user.birthDate.toDateString()}}</span>
      </div>
      <div class="email">
        <span>Email: {{user.email}}</span>
      </div>
    </div>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span>Reservations</span>
        </mat-panel-title>
        <mat-panel-description>
          <span>This guest's bookings</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-guest-reservation
        *ngFor="let reservation of reservations"
        [reservation]="reservation"
      >
      </app-guest-reservation>
    </mat-expansion-panel>
  </mat-card-content>
</mat-card>
