<mat-card class="overview-container mat-elevation-z4">
  <mat-card-title>Overview</mat-card-title>
  <mat-card-content class="overview-card-content">
    <mat-card class="stat-card">
      <mat-card-title>
        <div class="header">
          <div class="stats">
            <div class="guests-number">
              <h3>{{guestChartData.valueSum.toFixed(0)}}</h3>
            </div>
            <div class="guests-percent" [ngClass]="guestChartData.percentage < 0 ? 'negative' : 'positive'">
              <span>{{guestChartData.percentage.toFixed(2)}}%</span>
            </div>
          </div>
          <mat-form-field appearance="outline" class="period-selector-field">
            <mat-select #guestSelect [value]="'Week'" (selectionChange)="updateGuestChart(guestSelect.value)">
              <mat-option value="Week">Week</mat-option>
              <mat-option value="Month">Month</mat-option>
              <mat-option value="Year">Year</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <span class="title-description">Number of guest staying overnight</span>
      </mat-card-title>
      <mat-card-content>
        <div>
          <canvas #guestsCanvas>

          </canvas>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="chart-card" (click)="downloadReport()">
      <mat-card-title>
        <div class="header">
          <div class="stats">
            <div class="guests-number">
              <h3>${{earningsChartData.valueSum.toFixed(0)}}</h3>
            </div>
            <div class="guests-percent" [ngClass]="earningsChartData.percentage < 0 ? 'negative' : 'positive'">
              <span>{{earningsChartData.percentage.toFixed(2)}}%</span>
            </div>
          </div>
          <mat-form-field appearance="outline" class="period-selector-field">
            <mat-label>Date range</mat-label>
            <mat-date-range-input [rangePicker]="picker" [formGroup]="campaignOne">
              <input matStartDate formControlName="start">
              <input matEndDate formControlName="end" (dateChange)="updateEarningsChart()">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
        <span class="title-description">Financial Report</span>
      </mat-card-title>
      <mat-card-content>
        <div>
          <canvas #earningsCanvas>

          </canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
