mat-card {
  cursor: pointer;
  margin: 1rem;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: var(--mat-sys-primary-container);
}

mat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.room-type h3 {
  font-weight: 600;
}

.reservation-details div {
  margin-bottom: 0.5rem;
}

mat-expansion-panel {
  margin-top: 1rem;
}

.guest{
  display: inline-block;
}
